@import "tailwindcss";
 

body{
     background-image: url('../public/360_F_634705766_xRlKdJ4uNsEqNnkd9YZo6Mm25aEr3DZI.jpg'); /* image ka path yaha do */
   
     background-size: cover;                 /* screen ko poora cover kare */
     background-position: center;            /* image center me ho */
     background-repeat: no-repeat;           /* repeat na ho */
     background-attachment: fixed; 
 }
.form {
     margin: 10px 50px;
     padding: 50px;
     display: flex;  
     gap: 20px; 
     border: black;
     box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.342);
}
input ,select{
      height: 40px;
      width: 200px;
      border: 1px solid black;
      border-radius: 5px;
      cursor: pointer;
      color: white;
}
select {
      color: black
}
input::placeholder {
    color: red;
    font-size: 19px;
    padding-left: 10px;
  }
  button {
     width: 90px;
     height: 40px;
     border-radius: 5px;
     color: white;
     background-color: brown;
     cursor: pointer;
  }
.container {
     background-color: antiquewhite;
     font-size: 1.2rem;
     cursor: pointer;
     border-radius: 10px;
}
.edit {
     gap : 30px;
}
.edit span {
    transition: transform 0.3s ease, color 0.3s ease-in;
  
  }
  
  .edit span:hover {
    transform: scale(1.2);
    color: red; /* slightly lighter shade */
  }